<div class="container">
  <div class="large-8 small-7 columns">
    <h1>Current Jobs</h1>
	<p class="smaller hide-for-small">Jobs move from <strong>new</strong> -&gt; <strong>in-progress</strong> -&gt; <strong>complete</strong>.
		Perform a title search to advance to "in-progress". Then check the <strong>R</strong>econveyance box to mark it complete.</p>
  </div>
  <div class="large-4 small-5 columns text-right">
    <br/>
    <ul class="button-group">
	<% Job.job_types.each do |t| %>
		<li><%= link_to "+ #{t.to_s.titleize} Job", new_job_path(job_type: t), class: "tiny success button" %></li>
	<% end %>
	</ul>
  </div>
</div>

<div class="container">
	<div class="main_content">
		<% if (current_user.processor? || current_user.admin?) && !(current_user.current_job_ids.length > 0 || current_user.completed_job_ids.length > 0) %>
		<div class="alert alert-box">
			You don't appear to have any assigned jobs, so here are all of the most recent jobs.
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
		<%= render 'shared/jobs' %>
	</div>

	<div class="side_content hide-for-small">
		
		<div class="panel">
			<h4 class="subheader">Clients <small><%= link_to 'new client', new_client_path %></small></h4>

			<ul>
			  <% @clients.each do |client| %>
			    <li><%= link_to client.name, client %> (<%= client.jobs.count %>)</li>
			  <% end %>
			</ul>
		</div>


		<div class="panel">

			<h4 class="subheader">Products <small><%= link_to 'new product', new_product_path %></small></h4>

			<ul>
			    <% @products.each do |product| %>
			      <li><%= link_to product.name, product %> (<%= humanized_money_with_symbol product.price %>)</li>
			    <% end %>
			</ul>

		</div>

	</div>
</div>
