<div class="container clearfix">
  <div class="large-8 small-7 columns">
    <h1>Counties needing work</h1>
    <p class="smaller">Checkout any county below to begin working on the jobs needing attention
    in that county. When you're done, check it back in or simply log out.</p>
  </div>
  <div class="large-4 small-5 columns">
    <br/>
    <button href="#" data-dropdown="job-types" aria-controls="job-types" aria-expanded="false" class="right tiny success radius button dropdown">+ New Job</button>
    <ul id="job-types" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
      <% Job.job_types.each do |t| %>
        <li><%= link_to t.to_s.titleize, new_job_path(job_type: t) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="main_content">
    <% if @counties_needing_work.length > 0 %>
      <div class="panel">
        <%= form_tag checkout_county_path, method: :put do %>
          <div class="row collapse">
            <div class="large-9 small-7 columns">
              <%= select_tag :id, options_from_collection_for_select(@counties_needing_work, :id, :to_option) %>
            </div>
            <div class="large-3 small-5 columns">
              <%= submit_tag "checkout", class: "postfix success radius button" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <h3 class="subheader">Current Jobs</h3>
    <%= render 'shared/jobs' %>
    <% if !!@hide_old %>
      <p><small>Only showing jobs with tasks due less than a year ago. <%= link_to "Show all", hide_old: 0 %>.</small></p>
    <% else %>
      <p><small>Too many jobs? <%= link_to "Hide old jobs", hide_old: 1 %>.</small></p>
    <% end %>
  </div>

  <div class="side_content hide-for-small">

    <div class="panel">
      <div class="row collapse">
        <div class="small-10 columns">
          <h4 class="subheader">Clients <small><%= link_to 'new client', new_client_path %></small></h4>
        </div>
        <div class="small-2 columns text-right">
          <% if Client.count > @clients.count %>
            <%= link_to "...", clients_path %>
          <% end %>
        </div>
      </div>

      <ul>
        <% @clients.each do |client| %>
          <li><%= link_to client.name, client %> (<%= client.jobs.count %>)</li>
        <% end %>
      </ul>

    </div>


    <div class="panel">

      <h4 class="subheader">Products <small><%= link_to 'new product', new_product_path %></small></h4>

      <ul>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product %> (<%= humanized_money_with_symbol product.price %>)</li>
          <% end %>
      </ul>

    </div>

  </div>
</div>
