<div class="main_content">
	<h1>Current Jobs</h1>

	<table>
	  <thead>
	    <tr>
	      <th>Parcel</th>
	      <th>State, County</th>
	      <th>Client</th>
	      <th>Created</th>
	      <th>Due</th>
	      <th>Status</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @jobs.each do |job| %>
	      <tr>
	        <td><%= link_to job.parcel_number, job %></td>
	        <td><%= link_to job.state.name, job.state %>, <%= link_to job.county.name, [job.state, job.county] %></td>
	        <td><%= link_to job.requestor.name, job.requestor %>
	        	/ <%= link_to job.client.name, job.client %>
	        </td>
          	<td><%=l job.created_at.to_date, format: :short %></td>
          	<td><%=l job.dashboard_product.due_on, format: :short %></td>
	        <td><%= job.workflow_state %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

</div>

<div class="side_content">
	<%= link_to 'New Job', new_job_path, class: "small button" %>

	<hr/>

	<h4 class="subheader">Clients <small><%= link_to 'new client', new_client_path %></small></h4>

	<ul>
	  <% @clients.each do |client| %>
	    <li><%= link_to client.name, client %> (<%= client.jobs.count %>)</li>
	  <% end %>
	</ul>


	<hr/>

	<h4 class="subheader">Products <small><%= link_to 'new product', new_product_path %></small></h4>

	<ul>
	    <% @products.each do |product| %>
	      <li><%= link_to product.name, product %></li>
	    <% end %>
	</ul>

	

	<hr/>

</div>
