<h1>Branches</h1>

<%= link_to 'New Branch', new_branch_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Client</th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= link_to branch.name, [branch.client, branch] %></td>
        <td><%= branch.address %></td>
        <td><%= branch.phone %></td>
        <td><%= branch.client.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

