<div class="main_content">
  <h1><%= @branch.name %> <small>a branch of <%= link_to @client.name, @client %></small></h1>

  <dl class="sub-nav">
    <dd><%= link_to 'Edit', edit_client_branch_path(@client, @branch) %></dd>
    <dd><%= link_to 'Delete', [@client, @branch], method: :delete, data: { confirm: 'Are you sure?' } %></dd>
    <dd><%= link_to 'Back', @client %></dd>
  </dl>

  <h3>Jobs <small><%= link_to 'new job', new_job_path(client_id: @client.id) %></small></h3>

  <table style="width: 100%">
    <thead>
      <tr>
        <th>Parcel</th>
        <th>State, County</th>
        <th>Requestor</th>
        <th>Created</th>
        <th>Due</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @branch.jobs.each do |job| %>
        <tr>
          <td><%= link_to job.parcel_number, job %></td>
          <td><%= link_to job.state.name, job.state %>, <%= link_to job.county.name, [job.state, job.county] %></td>
          <td><%= link_to job.requestor.name, job.requestor %>
          </td>
          <td><%=l job.created_at.to_date, format: :short %></td>
          <td><%=l job.dashboard_product.due_on, format: :short %></td>
          <td><%= job.workflow_state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>

<div class="side_content">
  <h4 class="subheader">Address:</h4>
  <p><%= @branch.address %><br/>
    <%= @branch.city %>,
    <%= @branch.state.name %>
    <%= @branch.zipcode %>
  </p>

  <p>
    <%= @branch.phone %>
  </p>
  <hr/>

  <h4 class="subheader">Users <small><%= link_to 'new user', new_user_path %></small></h4>
  <ul>
    <% @branch.users.each do |user| %>
    <li><%= link_to user.email, user %></li>
    <% end %>
  </ul>
</div>
