<%= simple_form_for @comment do |f| %>

  <div class="row">
    <%= f.error_notification %>
  </div>

	<%= f.input :related_id, as: :hidden %>
	<%= f.input :related_type, as: :hidden %>
  <%= f.textile_editor :message, rows: 6 %>
	<%= f.button :submit, "Save Comment" %>

<% end %>
