<div class="panel item-fields">
  <% if f.object.product_id.present? %>
    <%= f.input :product_id, as: :hidden %>
  <% end %>
	<div class="row">
		<div class="column_6">
			<%= f.input :deed_of_trust_number %>
		</div>
	</div>

	<div class="row">
	  <div class="column_6">
	    <%= f.input :beneficiary_name, label: "Lender/Beneficiary" %>
	  </div>
	  <div class="large-3 small-6 columns">
	    <%= f.input :beneficiary_account, label: "Beneficiary Account" %>
	  </div>
	  <div class="large-3 small-6 columns">
	    <%= f.input :payoff_amount, label: "Payoff Amount" %>
	  </div>
	</div>

	<%= render 'tasks/finalize_fields', f: f %>

	<% unless @job.tasks.first == f.object %>
    <% if f.object.product_id.present? %>
      <%= f.input :_destroy, as: :hidden, input_html: {class: 'deleter'} %>
      <%= link_to '#', class: 'remove_fields' do %>
        <%= image_tag 'delete.png', alt: "[-]" %>
        remove item
      <% end %>
    <% end %>
	<% end %>
</div>
