<div class="row">
  <div class="small-12 columns">
    <p><%=l Date.today, format: :long %></p>

    <p>RE: Rush Recon Needed</p>

    <p>Good Afternoon,</p>

    <p>We have a Deed of Trust showing on title, we need a RUSH recon processed for the attached
    as soon as possible; as closing is approaching. Can someone please confirm receipt of this
    request as well as give me a timeline for when we could expect to see a copy of the reconveyance
    or Letter of Guarantee via fax or email before you send to the County for recording, so escrow
    is able to move forward.</p>

    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <table style="width: 100%; margin: 15px 0px;">
          <tbody>
          <tr>
            <th>My File #:</th>
            <td><%= @job.file_number %></td>
          </tr>
          <tr>
            <th>Property Address:</th>
            <td><%= @job.address %><br/>
              <%= @job.city %>,
              <%= @job.state.name %>
              <%= @job.zipcode %><br/>
              <% if @job.county %>
                <%= "#{@job.county.name} County" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Name:</th>
            <td><%= @job.old_owner %></td>
          </tr>
          <tr>
            <th>Loan Amount:</th>
            <td>
              <% if @task.payoff_amount.present? %>
                <%= humanized_money_with_symbol @task.payoff_amount %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Lender:</th>
            <td>
              <% if @task.lender_id.present? %>
                <%= @task.lender.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Payoff Date:</th>
            <td>
              <% if @job.close_on.present? && @job.close_on.is_a?(Date) %>
                <%= l @job.close_on, format: :long %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <p>Thanks so much!</p>

    <p>
      <% if user_signed_in? %>
        <%= current_user.name %><br/>
      <% end %>
      Reconveyance Experts<br/>
      Phone: 855-528-4537<br/>
      Fax: 801-386-7562<br/>
      <% if user_signed_in? %>
        <%= current_user.email %><br/>
      <% end %>
      www.reconveyanceexperts.com
    </p>

  </div>
</div>

<script>window.print();</script>
