<%= simple_form_for(@job) do |f| %>
  <%= f.input :job_type, as: :hidden %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="form-inputs">
    <div class="row">
      <div class="column_6">
        <%= f.input :file_number %>
      </div>
      <% unless @job.job_type == 'search' %>
        <div class="large-6 columns">
          <%= f.input :close_on, label: "Close Date", as: :string, input_html: { class: 'datepicker' } %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="column_6">
        <%= f.association :client, collection: all_clients %>
      </div>
      <div class="column_6">
        <%= f.association :requestor, collection: all_clients, 
          as: :grouped_select, group_method: :users, group_label_method: :name,
          label_method: :name, value_method: :id %>
      </div>
    </div>
    <div class="row">
      <div class="column_12">
        <%= f.input :address %>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-4 columns">
        <%= f.input :zipcode %>
      </div>
      <div class="large-4 small-8 columns">
        <%= f.input :city %>
      </div>
      <div class="large-3 small-6 columns">
        <%= f.association :state, collection: active_states %>
      </div>
      <div class="large-3 small-6 columns">
        <%= f.association :county, collection: active_states, 
            as: :grouped_select, group_method: :counties, group_label_method: :name,
            label_method: :name, value_method: :id %>
      </div>
    </div>

    <%= render "#{ f.object.job_type }_fields", f: f %>

  </div>

  <div class="form-actions">
    <div class="column_6">
      <br/>
      <%= f.button :submit %>
      <% if @job.new_record? %>
        <%= f.button :submit, 'Save & New Job', class: "secondary" %>
      <% end %>
    </div>
  </div>
<% end %>
