<%= simple_form_for(@job) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="form-inputs">
    <div class="row">
      <div class="column_6">
        <%= f.input :parcel_number %>
      </div>
      <div class="column_6">
        <%= f.input :parcel_legal_description, label: "Legal Description" %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.association :client, collection: all_clients %>
      </div>
      <div class="column_6">
        <%= f.association :requestor, collection: all_clients, 
          as: :grouped_select, group_method: :users, 
          label_method: :name, value_method: :id %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :address %>
      </div>
      <div class="large-4 small-8 columns">
        <%= f.input :city %>
      </div>
      <div class="large-2 small-4 columns">
        <%= f.input :zipcode %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.association :state, collection: active_states %>
      </div>
      <div class="column_6">
        <%= f.association :county, collection: active_states, as: :grouped_select, group_method: :counties %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :new_owner, label: "Buyer" %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :beneficiary_name %>
      </div>
      <div class="column_6">
        <%= f.input :beneficiary_account %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :escrow_number %>
      </div>
      <div class="column_6">
        <%= f.input :payoff_amount %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :underwriter_name %>
      </div>
      <div class="column_6">
        <%= f.input :close_on, label: "Close Date", as: :string, input_html: { class: 'datepicker' } %>
      </div>
    </div>
    <div class="row">
      <div class="column_6">
        <%= f.input :file_type %>      
      </div>
      <div class="column_6">
        <br/>
        <%= f.input :short_sale %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <div class="column_6">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
