<div class="container section job-product-container">
  <div class="row section-header">
    <div class="large-6 small-9 columns">
      <h3><%= job_product.name %>
        <% if job_product.job.job_products.count > 1 %>
          #<%= i+1 %>
        <% end %>
      </h3>
    </div>
    <div class="large-6 small-3 columns text-right">
      <h3><%= humanized_money_with_symbol job_product.price %></h3>
    </div>
  </div>

  <div id="job_product<%= job_product.id %>" class="content">
    <br/>
    <%= render 'job_products/summary', job_product: job_product %>

    <div class="row">
      <div class="large-6 columns">
        <div class="section search-history-container">
          <div class="section-header">
            <div class="row collapse">
              <div class="large-6 small-6 columns"><h3>Search History</h3></div>
              <div class="large-6 small-6 columns text-right">
                <%= simple_form_for [job_product.job, job_product, SearchLog.new] do |f| %>
                  <%= f.button :submit, "Log Search", class: "tiny secondary button" %>
                  <%= f.input :status,
                    as: :boolean,
                    label: "Cleared",
                    required: false,
                    checked_value: "Cleared",
                    unchecked_value: "Not Cleared" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="fixed-height">
            <ul class="log">
              <% job_product.search_logs.reverse.each do |search_log| %>
                <li>
                <%= search_log.user.name %>|<%= search_log.created_at.to_date.to_s %>|<%= search_log.status %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="large-6 columns">
        <div class="section documents-container">
          <div class="section-header">
            <div class="row collapse">
              <div class="large-6 small-6 columns"><h3>Documents</h3></div>
              <div class="large-6 small-6 columns text-right">
                <%= link_to "New Document", '#',
                  class: "tiny secondary button",
                  data: {:"reveal-id" => "new_document_form"} %>
              </div>
            </div>
          </div>
          <div class="fixed-height">
            <div id="new_document_form" class="reveal-modal small" data-reveal>
              <h2>Choose a file to upload</h2>
              <%= simple_form_for [job_product.job, job_product, Document.new], html: {multipart: true} do |f| %>
                  <%= f.input :file, label: false, required: false %>
                  <%= f.button :submit, "Upload", class: "tiny secondary button" %>
              <% end %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
            <ul class="documents">
              <% job_product.documents.reverse.each do |document| %>
                <li><%= link_to document.file_file_name, document.file.url %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">
      <p><br/>
      Status: <strong><%= job_product.workflow_state.humanize %></strong> &nbsp;
      <br/>
      Worker: <%= job_product.worker.name if job_product.worker_id.present? %>
    </p>
    <ul class="button-group">
      <li><%= link_to "Edit #{job_product.name}", edit_job_job_product_path(job_product.job, job_product), class: "tiny button" %></li>
      <li><%= link_to "Delete #{job_product.name}", job_job_product_path(job_product.job, job_product), method: :delete, confirm: "Are you sure?", class: "tiny alert button" %></li>
    </ul>
  </div>
</div>
</div>
