<dd class="accordion-navigation">
  <a href="#job_product<%= job_product.id %>">
    <div class="row">
      <div class="large-6 small-9 columns">
        <% if job_product.job.job_products.count > 1 %>
        <%= i+1 %>:
        <% end %>
        <%= job_product.name %>
      </div>
      <div class="large-6 small-3 columns text-right">
        status: <strong><%= job_product.workflow_state.humanize %></strong> &nbsp;
        <%= humanized_money_with_symbol job_product.price %>
      </div>
    </div>
  </a>

  <div id="job_product<%= job_product.id %>" class="content">

  <div class="row">
    <div class="large-6 small-6 columns">
      Worker: 
        <%= job_product.worker.name if job_product.worker_id.present? %> 
    </div>
    <div class="large-6 small-6 columns text-right">
        <%= link_to job_product.worker_id.present? ? 'edit' : 'none', 
              edit_job_job_product_path(job_product.job, job_product), 
              class: 'assign-task tiny button', 
              data: { job_product_id: job_product.id } %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= render 'job_products/summary', job_product: job_product %>
    </div>
  </div>

</dd>