<div class="container section job-product-container">
  <div class="row section-header">
    <div class="large-6 small-9 columns">
      <h3><%= job_product.name %>
        <% if job_product.job.job_products.count > 1 %>
          #<%= i+1 %>
        <% end %>
      </h3>
    </div>
    <div class="large-6 small-3 columns text-right">
      <h3><%= humanized_money_with_symbol job_product.price %></h3>
    </div>
  </div>

  <div id="job_product<%= job_product.id %>" class="content">
    <br/>
    <%= render 'job_products/summary', job_product: job_product %>
  </div>

  <div class="row">
    <div class="large-12 small-12 columns">
      <p><br/>
        Status: <strong><%= job_product.workflow_state.humanize %></strong> &nbsp;
        <br/>
        Worker: <%= job_product.worker.name if job_product.worker_id.present? %>
      </p>
      <ul class="button-group">
        <li><%= link_to "Edit #{job_product.name}", edit_job_job_product_path(job_product.job, job_product), class: "tiny button" %></li>
        <li><%= link_to "Delete #{job_product.name}", job_job_product_path(job_product.job, job_product), method: :delete, confirm: "Are you sure?", class: "tiny alert button" %></li>
      </ul>
      <% if current_user.admin? %>
        <%= simple_form_for [job_product.job, job_product] do |f| %>
          <%= f.input :billed, input_html: { data: { id: job_product.id } } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
