
<div class="row">
	<div class="large-6 columns">
		<%= f.input :new_owner, label: "Buyer" %>
	</div>
	<div class="large-6 columns">
		<%= f.input :old_owner, label: "Seller" %>
	</div>
</div>

<%# Editing job products along with the job doesn't work, but they can be edited directly. %>
<% if f.object.new_record? %>
<%= f.simple_fields_for :tasks do |jp| %>
	<%= render "tasks/#{f.object.job_type}_fields", f: jp %>
<% end %>

<div class="row">
	<div class="large-12 columns">
	<%= link_to_add_fields(
			image_tag('add_green.png', alt: '+') + ' add another item to this job',
			f, :tasks
		) %>
	</div>
	<br/>
</div>
<% end %>
