<h1>Jobs</h1>

<%= link_to 'New Job', new_job_path, class: "small button" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>State, County</th>
      <th>Client</th>
      <th>Last search</th>
      <th>Old owner</th>
      <th>New owner</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.name, job %></td>
        <td><%= job.address %>, <%= job.city %>, <%= job.state.abbreviation %> <%= job.zipcode %></td>
        <td><%= link_to job.state.name, job.state %>, <%= link_to job.county.name, [job.state, job.county] %></td>
        <td><%= link_to job.client.name, job.client %>
          <%= link_to job.requestor.name, job.requestor %>
          (<%= job.requestor.branch.name %>)
        </td>
        <td><%= job.last_search_at %></td>
        <td><%= job.old_owner %></td>
        <td><%= job.new_owner %></td>
        <td><%= job.workflow_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>


