<h1>Jobs</h1>

<%= link_to 'New Job', new_job_path, class: "small button" %>

<table>
  <thead>
    <tr>
      <th>Parcel</th>
      <th>State, County</th>
      <th>Client</th>
      <th>Created</th>
      <th>Due</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.parcel_number, job %></td>
        <td><%= job.address %>, <%= job.city %>, <%= job.state.abbreviation %> <%= job.zipcode %></td>
        <td><%= link_to job.state.name, job.state %>, <%= link_to job.county.name, [job.state, job.county] %></td>
        <td><%= link_to job.requestor.name, job.requestor %>
            / <%= link_to job.client.name, job.client %>
        </td>
        <td><%=l job.created_at.to_date, format: :short %></td>
        <td><%=l job.dashboard_product.due_on, format: :short %></td>
        <td><%= job.workflow_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>


