<div class="container">
  <div class="large-7 small-7 columns">
    <h1>Parcel Number:
      <%= @job.parcel_number %>
    </h1>
  </div>
  <div class="large-5 small-5 columns text-right">
    <br/>
    <%= link_to 'Edit Job', edit_job_path(@job), class: "tiny button" %>
    <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %>
  </div>
</div>

<div class="container">
<div class="main_content">

    <h3 class="subheader">Products &amp; Services 
      <small><%= link_to "add product/service", new_job_job_product_path(@job), class: "success" %></small>
    </h3>
    <table>
      <thead>
        <tr>
          <th>Product/Service</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @job.job_products.each do |job_product| %>
        <tr>
          <td><%= link_to job_product.name, [@job, job_product] %></td>
          <td><%=humanized_money_with_symbol job_product.price %></td>
          <td><%= job_product.workflow_state %>
            <% if job_product.search_changed? %>
              CHANGE FOUND
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>total</td>
          <td><%= @job.total_price %></td>
          <td><%= @job.workflow_state %></td>
        </tr>
      </tfoot>
    </table>
    


    <h3>Status</h3>

    <p>
      <strong>Created:</strong>
      <%=l @job.created_at.to_date, format: :long %>
    </p>
    <p>
      <strong>Due:</strong>
      <%=l @job.dashboard_product.due_on, format: :long %>
    </p>

    <% if @job.completed_at.present? %>
    <p>
      <strong>Completed at:</strong>
      <%=l @job.completed_at, format: :long %>
    </p>
    <% end %>


  </div>

  <div class="side_content">

    <div class="panel">
      <h3 class="subheader">Property Info</h3>
        <p><strong>Address:</strong></p>
        <p>
          <%= @job.address %><br/>
          <%= @job.city %>,
          <%= link_to @job.state.name, @job.state %>
          <%= @job.zipcode %><br/>
          <%= link_to "#{@job.county.name} County", [@job.state, @job.county] %>
        </p>

      <h4 class="subheader">Owner Details</h4>
      <p>
        <strong>Old owner:</strong>
        <%= @job.old_owner %>
      </p>

      <p>
        <strong>New owner:</strong>
        <%= @job.new_owner %>
      </p>
    </div>

    <div class="panel">
      <h3 class="subheader">Client</h3>
      <p>
        <strong>Requestor:</strong>
        <%= link_to @job.requestor.name, @job.requestor %>
      </p>

      <p>
        <strong>Client:</strong>
        <%= link_to @job.client.name, @job.client %>
      </p>
    </div>
  </div>
</div>
