<% if current_user.checked_out_county %>
  <ul class="button-group">
    <% if current_user.checked_out_county.next_job %>
      <li><%= link_to "next job", current_user.checked_out_county.next_job, class: "tiny success button" %></li>
    <% end %>
    <li><%= link_to "check-in county", checkin_county_path(@job.county), method: :put, class: "tiny button" %><li>
  </ul>
<% end %>

<h1><%= link_to @job.client.name, @job.client %></h1>
<div class="section job-container">
  <div class="full-width row">
    <div class="job-header section-header row clearfix">
      <div class="large-7 small-7 columns">
        <h2>File: <%= @job.file_number %></h2>
        <p>
        <%= link_to @job.client.name, @job.client %> |
        <%= link_to @job.requestor.name, @job.requestor %>
        </p>
      </div>
      <div class="large-5 small-5 columns">
          <br/>
        <ul class="button-group right">
          <li><%= link_to "Add product/service", new_job_job_product_path(@job), class: "tiny success button" %></li>
          <li><%= link_to 'Edit Job', edit_job_path(@job), class: "secondary tiny button" %></li>
        </ul>
      </div>
    </div>
  </div>

  <p>Job Status: <%= @job.workflow_state.titleize %></p>

  <div class="full-width row">

    <div class="main_content">

      <% @job.job_products.each_with_index do |job_product,i| %>
        <%= render 'job_product', job_product: job_product, i: i %>
      <% end %>

      <div class="large-12 columns text-right">
        <strong>total: <%= humanized_money_with_symbol @job.total_price %></strong>
      </div>

      <% if @job.completed_at.present? %>
        <p>
          <strong>Completed at:</strong>
          <%=l @job.completed_at, format: :long %>
        </p>
      <% end %>

      <br/>
      <%= render 'shared/comments_with_form', item: @job %>

      <%= render 'shared/ownable_stats', item: @job %>

    </div>

    <div class="side_content">
      <h2>Property Information</h2>

      <p>
        <%= @job.address %><br/>
        <%= @job.city %>,
        <%= link_to @job.state.name, @job.state %>
        <%= @job.zipcode %><br/>
        <% if @job.county %>
          <%= link_to "#{@job.county.name} County", [@job.state, @job.county] %>
        <% end %>
      </p>

      <table>
        <tr>
          <td>Seller</td><td><strong><%= @job.old_owner %></strong></td>
        </tr>
        <tr>
          <td>Buyer</td><td><strong><%= @job.new_owner %></strong></td>
        </tr>
        <tr>
          <td>Close Date</td><td><strong>
              <% if @job.close_on.present? && @job.close_on.is_a?(Date) %>
                <%= l @job.close_on, format: :long %><br/>
              <% end %>
            </strong>
          </td>
        </tr>
      </table>

      <% if current_user.admin? %>
        <div class="text-right">
          <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %>
        </div>
      <% end %>

    </div>

  </div>
</div>
