<%= simple_form_for([@job, @job_product]) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="form-inputs">
    <%= f.association :product, 
    	collection: Product.all.map{ |p| 
    			[
    				p.name, 
    				p.id, 
    				data: { price: @job.client.product_price(p).dollars }
    			] 
    		} 
    	 %>
    <% unless f.object.new_record? %>
      <%= f.input :due_on, as: :string, input_html: { class: 'datepicker' } %>
    <% end %>
    <%= f.input :price, hint: "#{@job.client.name} pricing loads automatically when you select/change a product." %>
    <%= f.input :search_url, input_html: { data: { product: Product.where(performs_search: true).first.id }} %>
  </div>

  <div class="form-actions">
    <div class="column_6">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
