<%= simple_form_for([@job, @job_product]) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

<div class="row"><div class="large-8 columns large-offset-2">
  <div class="form-inputs">
    <%= f.association :product,
    	collection: Product.all.map{ |p|
    			[
    				p.name,
    				p.id,
    				data: { price: @job.client.product_price(p).dollars }
    			]
    		}
    	 %>
    <% unless f.object.new_record? %>
      <%= f.input :due_on, as: :string, input_html: { class: 'datepicker' } %>
    <% end %>
    <%= f.association :worker, collection: User.processors %>
    <%= f.input :price, hint: "#{@job.client.name} pricing loads automatically when you select/change a product." %>

    <% Job.job_types.each do |jt| %>
      <% if Product.where(job_type: jt.to_s).length > 0 %>
        <div class="product-specific-fields" data-products="<%= Product.where(job_type: jt.to_s).pluck(:id).join(',') %>">
          <%= render "#{jt.to_s}_fields", f: f %>
        </div>
      <% end %>
    <% end %>

    <%= f.input :search_url, input_html: {
          data: { products: Product.where(performs_search: true).pluck(:id).join(',') }
        } %>
  </div>

  <div class="form-actions">
    <div class="column_6">
      <%= f.button :submit %>
    </div>
  </div>
</div></div>
<% end %>
