<div class="panel item-fields">
  <% if f.object.product_id.present? %>
    <%= f.input :product_id, as: :hidden %>
  <% end %>
	<%= f.input :_destroy, as: :hidden %>
	<div class="row">
	  <div class="column_6">
	    <%= f.input :parcel_number %>
	  </div>
	  <div class="column_6">
	    <%= f.input :parcel_legal_description, label: "Legal Description" %>
	  </div>
	</div>

	<%= f.input :developer %>
</div>
