<div class="container">
  <div class="large-8 small-7 columns">
    <h1><%= @job_product.product.name %> <small>for file: <%= @job_product.job.file_number %></small></h1>
  </div>
  <div class="large-4 small-5 columns text-right">
    <br/>
    <%= link_to "Edit #{@job_product.product.name}", edit_job_job_product_path(@job, @job_product), class: "tiny button" %>
    <%= link_to 'Delete', [@job, @job_product], method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %>
  </div>
</div>

<div class="main_content">

	<p>
		<strong>Created:</strong>
		<%= l @job_product.created_at.to_date, format: :long %>
	</p>

	<p>
		<strong>Due Date:</strong>
		<%=l @job_product.due_on, format: :long %>
	</p>

	<p>
	  <strong>Status:</strong>
	  <%= @job_product.workflow_state %>
	</p>

	<%= render 'summary', job_product: @job_product %>

	<%= render 'shared/ownable_stats', item: @job_product %>

</div>