<%= simple_form_for [@client, @user] do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="row"><div class="column_6_centered">
	<div class="form-inputs">
		<%= f.input :name %>
		<div class="row">
			<div class="large-5 columns">
		<%= f.input :phone %>
			</div>
			<div class="large-7 columns">
		<%= f.input :email %>
			</div>
		</div>
		<div class="row">
			<div class="large-5 columns">
		<%= f.input :role, collection: User.roles.keys.map {|role| [role.titleize,role]} %>
			</div>
			<div class="large-7 columns">
		<%= f.association :branch, collection: @client.branches, label: "#{@client.name} Branch" %>
			</div>
		</div>
		<%= f.input :primary_contact, label: "Primary contact for #{@client.name}" %>
		<%= f.input :billing_contact, label: "Billing contact for #{@client.name}" %>
		<div class="panel">
			<%= f.input :password, label: "Initial password" %>
			<%= f.input :password_confirmation %>
		</div>
	</div>

  <div class="form-actions">
    <div class="column_6">
      <%= f.button :submit %>
    </div>
  </div>
</div></div>
<% end %>