<%= simple_form_for @user do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="row"><div class="column_6_centered">
  	<div class="form-inputs">
  		<%= f.input :name %>
  		<%= f.input :email %>
      <%= f.input :cell_phone %>
  		<%= f.input :role, collection: User.roles.keys.map {|role| [role.titleize,role]}, as: :radio_buttons %>
    <div class="panel">
      <%= f.input :password, label: @user.new_record? ? "Initial password" : "New password" %>
      <%= f.input :password_confirmation %>
    </div>
  	</div>

    <div class="form-actions">
      <div class="column_6">
        <%= f.button :submit %>
      </div>
    </div>
  </div></div>
<% end %>
