<td>
  <%= link_to user.name ? user.name : user.email, user %>
</td>
<td>
  <%= form_for user, html: { class: 'miniform' } do |f| %>
  	<div class="row collapse">
  		<div class="large-8 small-8 columns">
    		<%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    	</div>
    	<div class="large-4 small-4 columns">
    		<%= f.submit 'Change Role', :class => 'tiny radius button' %>
    	</div>
    </div>
  <% end %>
</td>
<td style="padding-left: 16px;">
  <%= link_to(image_tag('trash.gif', alt: "X"), user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user %>
</td>
