<h3><%= @user.name if @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>
<p>Role: <%= @user.role if @user.role %></p>
<% if @user.branch %>
	<p>Client: <%= link_to @user.branch.client.name, @user.branch.client %></p>
	<p>Branch: <%= link_to @user.branch.name, [@user.branch.client, @user.branch] %></p>

	<h5 class="subheader">Requested Jobs</h5>
	<ul>
		<% @user.requested_jobs.order("created_at DESC").limit(100).each do |job| %>
		<li><%= link_to "#{I18n.l(job.created_at, format: :short)} #{job.parcel_number}", job %></li>
		<% end %>
	</ul>
<% end %>