<div class="container clearfix">
	<div class="large-7 small-7 columns">
		<h1><%= @user.name ? @user.name : "Unnamed User" %></h1>
	</div>
	<div class="large-5 small-5 columns">
		<br/>
    <ul class="button-group right">
      <li><%= link_to 'Edit User', edit_user_path(@user), class: "tiny button" %></li>
      <li><%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %></li>
    </ul>
	</div>
</div>

<div class="main_content">
	<p>Email: <%= mail_to(@user.email, @user.email) if @user.email %></p>
	<p>Role: <%= @user.role if @user.role %></p>

	<% if @user.client? && @user.branch.present? %>
		<p>Client: <%= link_to @user.branch.client.name, @user.branch.client %></p>
		<p>Branch: <%= link_to @user.branch.name, [@user.branch.client, @user.branch] %></p>

		<h3 class="subheader">Current Requested Jobs</h5>
		<%= render 'shared/jobs' %>

	<% elsif @user.processor? %>
		<h3 class="subheader">Current Assigned Jobs</h3>
		<%= render 'shared/jobs' %>
	<% end %>
</div>
