<h1><%= @state.name %></h1>

<dl class="sub-nav">
	<dd><%= link_to 'Edit', edit_state_path(@state) %></dd>
	<dd><%= link_to 'Delete', @state, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
	<dd><%= link_to 'Back', states_path %></dd>
</dl>

<p>
  <strong>Abbreviation:</strong>
  <%= @state.abbreviation %>
</p>


<h3>Counties <small><%= link_to "new county", new_state_county_path(@state) %></small></h3>

<ul>
	<% @state.counties.each do |county| %>
	<li><%= link_to county.name, [@state, county] %></li>
	<% end %>
</ul>
