<div class="container">
  <div class="large-7 small-7 columns">
    <h1><%= @state.name %></h1>
  </div>
  <div class="large-5 small-5 columns text-right">
    <br/>
    <%= link_to 'New County', new_state_county_path(@state), class: "tiny success button" %>
    <%= link_to 'Edit State', edit_state_path(@state), class: "tiny button" %>
    <%= link_to 'Delete', @state, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %>
  </div>
</div>

<div class="container">
	<div class="main_content">

		<% if @state.due_within_days.present? %>
			<p>
				Reconveyances are due within <strong><%= @state.due_within_days %></strong> days.
				<small><%= link_to "edit", edit_state_path(@state) %></small>
			</p>
		<% else %>
			<p>
				Reconveyance due date is unknown. Please <%= link_to "edit the state", edit_state_path(@state) %> to provide this information.
			</p>
		<% end %>

		<p>This state is <strong><%= "not" unless @state.active? %> active.</strong></p>

		<h3>Counties <small><%= link_to 'new county', new_state_county_path(@state), class: "success" %></small></h3>

		<% @state.counties.all.in_groups(3, false) do |group| %>
			<div class="large-4 small-4 columns">
				<ul>
					<% group.each do |county| %>
						<% if county.is_a?(County) %>
						<li><%= link_to county.name, [@state, county] %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	<div class="side_content">

	</div>
</div>