<%= simple_form_for([@state, @county]) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>
	
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :search_url, label: "Title Search URL", placeholder: "http://" %>
  </div>

  <div class="form-actions row">
  	<div class="large-12 columns">
      <%= f.button :submit %>
  	</div>
  </div>
<% end %>
