<div class="container">
	<div class="large-7 small-7 columns">
		<h1><%= @county.name %></h1>
	</div>
	<div class="large-5 small-5 columns text-right">
		<br/>
		<%= link_to 'Edit County', edit_state_county_path(@state, @county), class: "tiny button" %>
		<%= link_to 'Delete', [@state, @county], method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny alert button" %>
	</div>
</div>

<div class="container">
<div class="main_content">
	<p>
	  <strong>State:</strong>
	  <%= link_to @county.state.name, @county.state %>
	</p>

	<p>
	  <strong>Search url:</strong>
	  <%= @county.search_url %>
	</p>

	<p>
	  <strong>Average days to complete:</strong>
	  <%= @county.average_days_to_complete %>
	</p>
</div>
</div>
