<tr id="job_<%= job.id %>">

  <td><%= link_to job.link_name, job, class: "job" %></td>

  <td class="hide-for-small">
    <% if job.county %><%= link_to job.county.name, [job.state, job.county] %>, <% end %>
    <%= link_to job.state.abbreviation, job.state %>
  </td>

  <td>
    <% if job.requestor %>
      <%= link_to job.requestor.name, job.requestor %>
    <% else %>
      <i>requestor not found</i>
    <% end %>
  	<% if show_client_name %>
  	<span class="hide-for-small"> / <%= link_to job.client.name, job.client %></span>
  	<% elsif show_branch_name %>
  	<span class="hide-for-small">(<%= job.requestor.branch.name %>)</span>
  	<% end %>
  </td>

  <td class="text-center hide-for-small">
    <%=l job.created_at.to_date, format: :short %>
  </td>

  <% if job.dashboard_task %>
  	<td class="text-center <% if job.dashboard_task.late? %>late<% end %>">
  		<% if job.dashboard_task.due_on.present? %>
  			<%=l job.dashboard_task.due_on, format: :short %>
  		<% end %>
  	</td>

    <td class="text-center">
      <% if job.dashboard_task.complete? %>
        <% unless job.completed_at.blank? %>
            <%= l job.completed_at.to_date, format: :short %>
        <% end %>
      <% else %>
      	<%= job.dashboard_task.workflow_state.humanize.downcase %>
      	<% if !!(job.dashboard_task.quick_search_url) %>
      		 | <%= link_to "search", job.dashboard_task.quick_search_url, target: "_blank" %>
      	<% end %>
      <% end %>
    </td>

  <% else %>
  	<td colspan="2" class="text-center">
      <i>(reconveyance n/a)</i>
    </td>
  <% end %>
</tr>
