<%= simple_form_for(@client) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

<div class="row"><div class="column_6_centered">

  <div class="form-inputs">
  	<div class="row">
  		<div class="column_12">
    		<%= f.input :name %>
    	</div>
    </div>
    <%= f.input :client_type %>
    <%= f.input :website, as: :url, placeholder: "http://" %>
    <%= f.input :billing_address %>
    <%= f.input :billing_city %>
    <div class="row">
      <div class="large-7 small-8 columns">
        <%= f.association :billing_state %>
      </div>
      <div class="large-5 small-4 columns">
        <%= f.input :billing_zipcode %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="column_6">
      <%= f.button :submit %>
    </div>
  </div>

</div></div>
<% end %>
