<div class="container">
	<div class="large-7 small-7 columns">
		<h1><%= @client.name %></h1>
	</div>
	<div class="large-5 small-5 columns text-right">
		<br/>
		<ul class="button-group">
		<% Job.job_types.each do |t| %>
			<li><%= link_to "+ #{t.to_s.titleize} Job", new_job_path(client_id: @client.id, job_type: t), 
				class: "tiny success button" %></li>
		<% end %>
			<li><%= link_to 'Edit Client', edit_client_path(@client), class: "tiny button" %></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="main_content">
		<h3>Current Jobs <small><%= link_to 'new job', new_job_path(client_id: @client.id), class: "success" %></small></h3>
		<%= render 'shared/jobs' %>

		<%= render 'shared/ownable_stats', item: @client %>
	</div>

	<div class="side_content">

		<h3>Pricing for <%= @client.name %> </h3>
		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Standard</th>
					<th>Client Price</th>
				</tr>
			</thead>
			<tbody>
				<% Product.limit(10).each do |product| %>
				<% cp = @client.client_products.find_or_initialize_by(product_id: product.id) %>
				<tr>
					<td><%= product.name %></td>
					<td class="text-right"><i><%=humanized_money_with_symbol product.price %></i></td>
					<td class="text-right"><%= link_to humanized_money_with_symbol(@client.product_price(product)), cp.new_record? ? new_client_client_product_path(@client, product_id: product) : edit_client_client_product_path(@client, cp) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<div class="panel">
			<h4 class="subheader">Branches <small><%= link_to 'new branch', new_client_branch_path(@client) %></small></h4>
			<ul>
				<% @client.branches.each do |branch| %>
				<li><%= link_to branch.name, [@client, branch] %></li>
				<% end %>
			</ul>

		</div>

		<div class="panel">
			<h4 class="subheader">Employees <small><%= link_to 'new employee', new_client_user_path(@client) %></small></h4>
			<ul>
				<% @client.users.each do |user| %>
				<li><%= link_to user.name, user %></li>
				<% end %>
			</ul>
		</div>

		<% if current_user.admin? %>
		<div class="text-right">
			<%= link_to 'Delete Client', @client, method: :delete, data: { confirm: 'Are you sure?' }, 
				class: "tiny alert button" %>
		</div>
		<% end %>

	</div>
</div>
