<%= simple_form_for([@client, @client_product]) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

  <div class="row"><div class="column_6_centered">
    <div class="form-inputs">
      <%= f.association :product %>
      <%= f.input :price, label: "Price for #{@client.name}" %>
    </div>

    <div class="form-actions">
      <div class="column_6">
        <%= f.button :submit, "Save Custom Price" %>
      </div>
    </div>
  </div></div>
<% end %>
