<%= simple_form_for(@product) do |f| %>
  <div class="row">
    <%= f.error_notification %>
  </div>

    <div class="form-inputs">
      <div class="row">
        <div class="large-8 columns">
          <%= f.input :name %>
        </div>
        <div class="large-4 columns">
          <%= f.input :price %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.input :description %>
      
          <%= f.input :default, label: "All new jobs should have this product added by default." %>
          <%= f.input :performs_search, label: "This service involves performing a recurring web search." %>
        </div>
      </div>
    </div>

    <div class="form-actions row">
      <div class="column_6">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>
