<h1><%= @product.name %></h1>

<dl class="sub-nav">
	<dd><%= link_to 'Edit', edit_product_path(@product) %></dd>
	<dd><%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
	<dd><%= link_to 'Back', products_path %></dd>
</dl>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <%= @product.description %>
</p>

