<div class="container clearfix">
	<div class="large-7 small-7 columns">
		<h1>Lenders</h1>
	</div>
	<div class="large-5 small-5 columns">
    <ul class="radius button-group right">
      <li><%= link_to "New Lender", new_lender_path, class: "tiny button" %></li>
    </ul>
	</div>
</div>

<div class="container">
	<div class="main_content">
    <h4>Top Lenders</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Open Tasks</th>
        </tr>
      </thead>
      <tbody>
      <% @top_lenders.each do |lender| %>
        <tr>
          <td><%= link_to truncate(lender.name, length: 50), lender %></td>
          <td><%= lender.tasks.where.not(workflow_state: 'complete').count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h4>The Rest</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Open Tasks</th>
        </tr>
      </thead>
      <tbody>
      <% @lenders.each do |lender| %>
        <tr>
          <td><%= link_to truncate(lender.name, length: 50), lender %></td>
          <td><%= lender.tasks.where.not(workflow_state: 'complete').count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
	</div>
</div>
