<div class="container clearfix">
  <div class="large-7 small-7 columns">
    <h1><%= @lender.name %></h1>
  </div>
  <div class="large-5 small-5 columns">
    <ul class="button-group right">
      <li><%= link_to 'Edit Lender', edit_lender_path(@lender), class: "tiny button" %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="main_content">
    <%= render 'shared/jobs' %>

    <p>
      <%= pluralize @lender.tasks.where.not(workflow_state: 'complete').count, 'open task' %> in
      <%= pluralize @lender.tasks.where.not(workflow_state: 'complete').pluck(:job_id).uniq.count, 'job' %>.<br/>
      <%= pluralize @lender.tasks.where(workflow_state: 'complete').count, 'completed task' %> in
      <%= pluralize @lender.tasks.where(workflow_state: 'complete').pluck(:job_id).uniq.count, 'job' %>.<br/>
    </p>
  </div>

  <div class="side_content">
    <% if current_user.admin? %>
      <div class="panel">
        <h6>Merge Lenders</h6>
        <%= form_tag merge_lender_path(@lender), id: "merge_lender", class: "simple_form" do %>

          <p>Choose a lender to merge into this lender. The lender you select below
          will be removed. All of its jobs and other data will then be associated with
          <%= @lender.name %>.</p>

          <%= select_tag :merge_with_id,
            options_from_collection_for_select(
              Lender.where.not(id: @lender).order(:name),
              :id,
              :name
            ) %>

          <%= submit_tag "Merge", class: "small button", data: {confirm: "Are you sure?"} %>

          <p><small><i>This cannot be undone.</i></small></p>

        <% end %>
      </div>
    <% end %>
    <% if @lender.average_days_to_complete.present? %>
    <p>
      <strong>Calculated average days to complete reconveyance:</strong>
      <%= @lender.average_days_to_complete %>
    </p>
    <% end %>
  </div>
</div>
