<h1 class="text-center"><%= @report.title %></h1>
<h4 class="text-center subheader"><%= @report.subtitle %></h4>

<table id="jobs" class="full_width">
  <thead>
    <tr>
      <th>File</th>
      <th>Client</th>
      <th>Escrow Officer</th>
      <th>Close Date</th>
      <th>Lender</th>
      <th>DOT #</th>
      <th>Release #</th>
      <th>Release Date</th>
      <% if @report.show_pricing? %>
        <th>Price</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @report.job_products.each do |job_product| %>
      <tr>
        <td><%= job_product.job.file_number %></td>
        <td><%= job_product.job.client.name if job_product.job.client %></td>
        <td><%= job_product.job.requestor.name if job_product.job.requestor %></td>
        <td><%= job_product.job.close_on.to_s if job_product.job.close_on.present? %></td>
        <td><%= job_product.lender.name if job_product.lender %></td>
        <td><%= job_product.deed_of_trust_number %></td>
        <td><%= job_product.new_deed_of_trust_number %></td>
        <td><%= job_product.recorded_on.to_s if job_product.recorded_on.present? %></td>
        <% if @report.show_pricing? %>
          <td class="text-right"><%= job_product.price %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <% if @report.show_pricing? %>
    <tfoot>
      <tr>
        <td colspan="8" class="text-right">
          Total
        </td>
        <td class="text-right">
          <%= @report.total %>
        </td>
      </tr>
    </tfoot>
  <% end %>
</table>

