<%# navigation styled for Zurb Foundation 4 %>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><%= link_to image_tag("logo-sm.png", alt: 'Reconveyance Experts'), root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class="top-bar-section">
	  <ul class="right">
	  	<li class="has-form">
	  		<%= search_form_for @q, url: jobs_path do |f| %>
	  		<div class="row collapse">
	  			<div class="large-8 small-9 columns">
	  				<%= f.search_field :parcel_number_cont, placeholder: 'Parcel #' %>
	  			</div>
	  			<div class="large-4 small-3 columns">
	  				<%= f.submit "search", class: "button expand" %>
	  			</div>
	  		</div>
	  		<% end %>
	  	</li>
	  	<% if user_signed_in? %>
	  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
	<% else %>
	  <li><%= link_to 'Sign in', new_user_session_path %></li>
	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	<% end %>
	<% if user_signed_in? %>
	  <% if current_user.admin? %>
	    <li><%= link_to 'Users', users_path %></li>
	  <% end %>
	<% end %>
		</ul>
	</div>
</nav>
